.AddButton {
    background-color: hsl(191, 89%, 45%);
    border-color: transparent;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-left: 35rem;
    /* width: %; */
    color: aliceblue;
    /* float:inline-start; */
    /* position: relative; */
    font-family: 'Times New Roman', Times, serif;

  }
  
  .AddButton button:hover,
  button.hover {
    background-color: rgb(171, 102, 11);
  }