/* .Header{
    color: red;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 500px black;
    font-size: 100px;
    margin: 50px 50px 50px 0 ;
    text-shadow: 600px;
}
.Spanf{
    font-style: italic;
    color: antiquewhite;
} */